@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Conozca más sobre <a href="https://learn.microsoft.com/aspnet/core">Construir aplicaciones web con ASP.NET Core</a>.</p>
</div>
