@model KingsCut.Web.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <partial name="_viewPartial2" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> 
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>
